* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  line-height: 24px;
  margin: 0; }

p {
  margin: 0; }

.wrap {
  max-width: 73%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1250px) {
    .wrap {
      text-align: center; } }
  @media (max-width: 1250px) {
    .wrap {
      max-width: 100%; } }

h1, h2, h3, h4 p {
  padding: 0;
  margin: 0; }

.page-main {
  background-image: url(../img/bg.png.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 15vh;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5vh 15px 18vh 15px; }
  .header a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px; }
  .header a:active {
    border-bottom: 3px solid #65e496; }
  .header a:hover {
    border-bottom: 3px solid #65e496; }
    @media (max-width: 820px) {
      .header a:hover {
        border-bottom: 1px solid #65e496; } }
  .header__logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    min-width: 137px;
    height: 28px;
    display: block;
    text-decoration: none; }
    .header__logo a:hover {
      text-decoration: none; }
  .header-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 1099px) {
      .header-list {
        display: none; } }
    .header-list__item {
      margin-left: 22px;
      /* padding-bottom: 5px;*/
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      text-decoration: none; }
    .header-list .active {
      border-bottom: 3px solid #65e496; }
      @media (max-width: 820px) {
        .header-list .active {
          border-bottom: 1px solid #65e496; } }
      .header-list .active a:hover {
        border-bottom: none; }

.page {
  padding-top: 0px;
  position: relative; }
  @media (max-width: 1250px) {
    .page {
      padding-bottom: 120px; } }
  @media (max-width: 560px) {
    .page {
      padding-bottom: 50px; } }
  .page_gray {
    background-color: #f5f6fa;
    padding-bottom: 30vh;
    padding-top: 18vh; }
    @media (max-width: 1140px) {
      .page_gray {
        padding-bottom: 0; } }
  .page__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 2px;
    line-height: initial; }
    @media (max-width: 560px) {
      .page__title {
        font-size: 38px; } }
  .page__subtitle {
    color: #65e496;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: 2px; }
  .page__svg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    min-width: 649px; }
    @media (max-width: 680px) {
      .page__svg {
        display: none; } }
  @media (max-width: 1250px) {
    .page-carousel {
      background-color: #44444f; } }

@media (max-width: 1140px) {
  .bottomspace {
    padding-bottom: 10px; } }

.block-text {
  flex-basis: calc(93% - 433px);
  margin-left: 60px;
  margin-top: 0px;
  margin-right: 50px; }
  @media (max-width: 1250px) {
    .block-text {
      flex-basis: calc(93%-315px);
      margin-top: 90px; } }
  @media (max-width: 560px) {
    .block-text {
      margin-top: 30px;
      margin-left: 0px;
      margin-right: 0px; } }
  .block-text--width {
    flex-basis: calc(93%-500px); }
    @media (max-width: 1250px) {
      .block-text--width {
        flex-basis: calc(93%-315px); } }
  .block-text__name {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 0.85px;
    letter-spacing: 0.7px;
    margin-top: 1px;
    margin-left: 4px;
    margin-bottom: 43px; }
    @media (max-width: 560px) {
      .block-text__name {
        display: none; } }
  .block-text__name-top {
    margin-top: 5px;
    margin-left: 0; }
    @media (max-width: 1250px) {
      .block-text__name-top {
        margin-top: 40px;
        margin-bottom: 7px; } }
    @media (max-width: 1250px) {
      .block-text__name-top {
        margin-top: -80px; } }
  .block-text__title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-bottom: 38px;
    line-height: 53px; }
    @media (max-width: 560px) {
      .block-text__title {
        font-size: 38px; } }
    @media (max-width: 330px) {
      .block-text__title {
        font-size: 30px;
        line-height: 45px; } }
  .block-text span {
    font-size: 48px;
    font-weight: 700;
    display: block;
    color: #65e496;
    font-size: 18px;
    padding-top: 11dpx;
    letter-spacing: 0.9px;
    line-height: 23px; }
    @media (max-width: 820px) {
      .block-text span {
        padding-top: 35px; } }
    @media (max-width: 820px) {
      .block-text span {
        padding-top: 0px; } }
  .block-text__desc {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0,7px; }

.block-text-item {
  margin-bottom: 55px; }
  .block-text-item__date {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.8px;
    margin-bottom: 4px; }
  .block-text-item__title {
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 16px; }
  .block-text-item__desc {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.75px; }

.block-book {
  display: flex;
  justify-content: flex-start; }
  @media (max-width: 1250px) {
    .block-book {
      flex-direction: column; } }
  .block-book-demo {
    display: block;
    position: relative;
    background-image: url(../img/book1.svg);
    background-repeat: no-repeat;
    flex-basis: 447px;
    min-width: 447px;
    height: 643px; }
    @media (max-width: 1250px) {
      .block-book-demo {
        margin: 0 auto;
        flex-basis: 643px; } }
    @media (max-width: 560px) {
      .block-book-demo {
        display: none; } }
    .block-book-demo__title {
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      position: absolute;
      left: 131px;
      top: 118px;
      font-family: "Open Sans", sans-serif; }
      .block-book-demo__title span {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #65e496;
        display: block;
        text-transform: initial;
        margin-top: 10px;
        letter-spacing: 0.7px; }
    .block-book-demo__author {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #65e496;
      position: absolute;
      letter-spacing: 0.7px;
      bottom: 0px;
      left: 87px; }

.block-autor {
  display: flex;
  justify-content: space-between;
  margin-top: 13vh;
  margin-bottom: 3vh; }
  @media (max-width: 1250px) {
    .block-autor {
      flex-direction: column-reverse; } }
  @media (max-width: 560px) {
    .block-autor {
      margin-top: 0px; } }

.padding-top {
  padding-top: 30%; }
  @media (max-width: 1250px) {
    .padding-top {
      padding-top: 0; } }

.block-ava {
  position: relative; }
  .block-ava__svg {
    position: absolute;
    z-index: -1;
    right: 0; }
    @media (max-width: 1250px) {
      .block-ava__svg {
        height: 105%; } }
    @media (max-width: 560px) {
      .block-ava__svg {
        display: none; } }
  .block-ava__svg--left {
    left: 0; }
    @media (max-width: 1250px) {
      .block-ava__svg--left {
        left: 23%; } }
  .block-ava__svg--right {
    right: -503px;
    bottom: -25px; }
    @media (max-width: 1250px) {
      .block-ava__svg--right {
        right: 197px;
        top: -373px;
        height: 429px;
        width: 442px;
        max-width: 335px; } }
    @media (max-width: 560px) {
      .block-ava__svg--right {
        right: 91px; } }
  .block-ava__img {
    margin-top: 47px;
    margin-right: 44px; }
    @media (max-width: 1250px) {
      .block-ava__img {
        width: 300px;
        margin: 0 auto; } }
    @media (max-width: 560px) {
      .block-ava__img {
        margin-top: 90px; } }
  .block-ava__img--left {
    margin-top: 49px;
    margin-left: 51px;
    margin-right: 0;
    width: 440px;
    height: 606px; }
    @media (max-width: 560px) {
      .block-ava__img--left {
        margin-left: 0px;
        width: 300px;
        height: 356px; } }
    @media (max-width: 330px) {
      .block-ava__img--left {
        width: auto;
        height: 290px; } }

.block-counter {
  display: flex;
  justify-content: space-around;
  margin-top: 152px;
  margin-bottom: 130px; }
  @media (max-width: 750px) {
    .block-counter {
      flex-direction: column; } }
  @media (max-width: 560px) {
    .block-counter {
      margin-top: 90px;
      margin-bottom: 0px;
      line-height: 10px; } }
  .block-counter p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 18px; }
    @media (max-width: 750px) {
      .block-counter p {
        margin-bottom: 0px; } }
    @media (max-width: 750px) {
      .block-counter p {
        margin-bottom: 80px; } }
    .block-counter p span {
      font-family: "Roboto Slab", serif;
      display: block;
      font-weight: 100;
      font-size: 80px;
      color: #65e496;
      margin-bottom: 42px; }

h2 {
  font-size: 48px; }
  @media (max-width: 560px) {
    h2 {
      font-size: 38px; } }

h3 {
  font-size: 23px; }

.block-about {
  display: flex;
  justify-content: space-between;
  margin-top: 82px; }
  @media (max-width: 1140px) {
    .block-about {
      max-width: 750px;
      margin: 82px auto 0;
      flex-direction: column; } }
  .block-about h3 {
    margin-bottom: 20px;
    text-align: initial; }
  .block-about p {
    font-family: "Open Sans", sans-serif; }
  .block-about-text {
    flex-basis: calc(100% - 50%); }
    @media (max-width: 1020px) {
      .block-about-text {
        flex-basis: 100%; } }
    @media (max-width: 870px) {
      .block-about-text {
        text-align: initial; } }
    .block-about-text p {
      max-width: 323px; }
      @media (max-width: 1140px) {
        .block-about-text p {
          max-width: 100%; } }
  .block-about-table {
    flex-basis: 570px; }
    @media (max-width: 1020px) {
      .block-about-table {
        flex-basis: 100%;
        margin-top: 40px; } }
    .block-about-table__list {
      margin: 0;
      padding: 0;
      counter-reset: list;
      column-count: 2;
      column-gap: 19px; }
      @media (max-width: 630px) {
        .block-about-table__list {
          column-count: 1; } }
      .block-about-table__list > li {
        position: relative;
        padding-left: 30px;
        counter-increment: list;
        list-style-type: none;
        margin-bottom: 8px;
        letter-spacing: 0.7px; }
        .block-about-table__list > li::before {
          content: counter(list) ". "; }
        .block-about-table__list > li::after {
          content: "+";
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 22px;
          position: absolute;
          left: 0;
          color: white;
          padding: 0px 7px;
          background-color: #78c5b2; }
          @media (max-width: 560px) {
            .block-about-table__list > li::after {
              left: 15px; } }
          @media (max-width: 340px) {
            .block-about-table__list > li::after {
              left: 0px; } }
    .block-about-table__list-next {
      counter-reset: list 10;
      padding-top: 30px; }
      .block-about-table__list-next::before {
        content: '';
        width: 100px;
        height: 2px;
        background-color: #78c5b2;
        display: block;
        position: relative;
        top: -13px; }
  .block-about-social {
    display: flex;
    align-items: center;
    margin-top: 14px; }
    @media (max-width: 560px) {
      .block-about-social {
        display: inline-flex; } }
    .block-about-social__title {
      font-family: "Roboto Slab", serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px; }
    .block-about-social__list {
      list-style-type: none;
      padding-left: 23px; }
      .block-about-social__list > li {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin-right: 12px; }
        .block-about-social__list > li > a {
          color: #65e496; }

.page-otherbooks {
  padding-top: 2vh; }
  .page-otherbooks h2 {
    text-align: center;
    display: block; }
    @media (max-width: 560px) {
      .page-otherbooks h2 {
        font-size: 38px; } }
  .page-otherbooks h3 {
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 50px; }
  .page-otherbooks p {
    text-align: center;
    display: block;
    max-width: 312px; }
    @media (max-width: 920px) {
      .page-otherbooks p {
        margin: 0 auto 17px; } }
  .page-otherbooks span {
    text-align: center; }
  .page-otherbooks__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 2px;
    padding-top: 100px; }
  .page-otherbooks__subtitle {
    color: #65e496;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    display: block; }
  .page-otherbooks .block-otherbooks__all-books {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh; }
    @media (max-width: 1250px) {
      .page-otherbooks .block-otherbooks__all-books {
        flex-direction: column; } }
  .page-otherbooks .block-otherbooks__book {
    align-content: center; }
    @media (max-width: 1250px) {
      .page-otherbooks .block-otherbooks__book p {
        margin: 0 auto;
        padding-bottom: 2vh; } }
    @media (max-width: 1250px) {
      .page-otherbooks .block-otherbooks__book h3 {
        padding-bottom: 3vh; } }
    .page-otherbooks .block-otherbooks__book span {
      display: block;
      align-content: center;
      color: #65e496;
      font-size: 23px; }
      @media (max-width: 1250px) {
        .page-otherbooks .block-otherbooks__book span {
          padding-bottom: 10vh; } }
  .page-otherbooks .block-otherbooks__bookimg {
    background-image: url(../img/book2.svg);
    background-repeat: no-repeat;
    text-decoration: none;
    display: block;
    position: relative;
    width: 269px;
    height: 409px;
    margin: 0 auto; }
    .page-otherbooks .block-otherbooks__bookimg-title {
      font-family: "Roboto Slab", serif;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.96px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      position: absolute;
      top: 74px;
      left: 56px; }
    .page-otherbooks .block-otherbooks__bookimg-description {
      color: #65e496;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      letter-spacing: 0.6px;
      text-decoration: none;
      position: absolute;
      top: 109px;
      left: 61px; }
    .page-otherbooks .block-otherbooks__bookimg-author {
      font-size: 12px;
      color: #65e496;
      letter-spacing: 0.6px;
      text-decoration: none;
      position: absolute;
      top: 365px;
      left: 81px; }

.btn {
  background: linear-gradient(to top left, #65e49c, #65e4af);
  border: none;
  color: white;
  text-decoration: none;
  max-width: 255px;
  width: 250px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  margin-top: 18px;
  padding: 11px 5px 15px 5px;
  letter-spacing: 0.7px;
  position: relative;
  box-shadow: 0 -2px #adedbb inset; }
  @media (max-width: 1250px) {
    .btn {
      margin-top: 65px;
      margin-bottom: 0px; } }
  @media (max-width: 1250px) {
    .btn.btn-more {
      margin-bottom: 50px; } }
  .btn.btn-center {
    margin: 0 auto;
    margin-top: 90px;
    display: block; }
    @media (max-width: 1250px) {
      .btn.btn-center {
        margin-top: 65px;
        margin-bottom: 40px; } }
  .btn.btn-register {
    width: 137px;
    height: 48px;
    margin-bottom: 0; }
  .btn.btn-letter {
    float: left;
    width: 100%;
    min-width: 111%;
    margin-bottom: 7vh; }

.block-blog {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 620px) {
    .block-blog {
      flex-direction: column;
      max-width: 600px;
      margin: 85px auto 0; } }
  .block-blog-item {
    flex-basis: 32%; }
    @media (max-width: 620px) {
      .block-blog-item {
        margin-bottom: 40px; } }
  .block-blog h4 {
    font-size: 18px; }
  .block-blog-img {
    width: 100%;
    height: 224px;
    overflow: hidden;
    position: relative; }
    .block-blog-img img {
      width: 100%;
      height: 224px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover; }
  .block-blog-info {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    align-items: center; }
    @media (max-width: 560px) {
      .block-blog-info {
        display: block ruby; } }
    .block-blog-info a {
      color: #65e496;
      text-decoration: none; }
  .block-blog_desc {
    font-size: 15px;
    font-family: "Open Sans", sans-serif; }

.block-letter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 27px 27px 80px;
  grid-gap: 10px;
  padding-top: 8vh;
  padding-bottom: 8vh; }
  @media (max-width: 1250px) {
    .block-letter {
      grid-template-columns: 1fr;
      grid-template-rows: 80px 27px 27px; } }
  @media (max-width: 330px) {
    .block-letter {
      grid-template-rows: 167px 24px 32px; } }
  @media (max-width: 560px) {
    .block-letter h2 {
      font-size: 38px; } }
  @media (max-width: 330px) {
    .block-letter h2 {
      line-height: initial; } }
  .block-letter-item {
    margin-top: 8px; }
    @media (max-width: 1020px) {
      .block-letter-item {
        width: 90%; } }
    .block-letter-item__text {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      margin-bottom: 25px;
      letter-spacing: 0.7px; }

.feedback-input {
  color: #9191b5;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  letter-spacing: 0.6px;
  background-color: #44444f;
  padding: 15px 27px;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%; } }
.submit {
  max-width: none;
  width: initial;
  margin-top: 0px; }

footer {
  background-color: #44444f;
  color: #9191b5;
  padding: 80px 0; }

.block-footer {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 560px) {
    .block-footer {
      display: inline;
      text-align: left; } }
  .block-footer > div {
    flex-basis: 30%; }
  .block-footer__logo {
    background-image: url(../img/logo-1_1.svg);
    width: 137px;
    height: 28px;
    display: block; }
  .block-footer__title {
    font-size: 18px;
    color: #65e496; }
  .block-footer__list {
    list-style-type: none;
    padding-left: 0; }
  .block-footer__social {
    display: flex;
    list-style-type: none;
    padding-left: 0; }
    .block-footer__social > li {
      margin-right: 10px; }
      .block-footer__social > li > a {
        color: #65e496; }

.flex-basis-social {
  display: flex;
  justify-content: flex-end; }

.carousel {
  text-align: center; }
  .carousel__bq {
    position: absolute;
    display: block;
    background-image: url(../img/bq.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 42px;
    top: 0;
    right: 0; }
  .carousel__ava {
    position: relative;
    width: 152px;
    height: 152px;
    display: block;
    margin: 0 auto 27px; }
  .carousel h3 {
    color: #65e496; }
  .carousel__desc {
    color: #9191b5;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.75px; }
  .carousel__thumb {
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 152px;
    height: 152px;
    border-radius: 100%;
    line-height: 27px; }
    .carousel__thumb__expert {
      margin-bottom: 35px; }
    .carousel__thumb img {
      width: 152px;
      height: 152px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover; }

.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0; }
  .slick-dots > li {
    margin: 0 5px; }
    .slick-dots > li > button {
      text-indent: -9999px;
      width: 8px;
      height: 8px;
      border: none;
      background-color: #65e496;
      border-radius: 100%;
      line-height: 8px;
      font-size: 0;
      cursor: pointer;
      padding: 5px; }
      .slick-dots > li > button:focus {
        outline: #65e496; }
  .slick-dots > li.slick-active
  .slick-dots > button {
    width: 38px;
    border-radius: 100%; }

.slick-slide {
  margin-top: 290px; }
  @media (max-width: 1450px) {
    .slick-slide {
      margin-top: 182px; } }

.menu-wrap {
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 1;
  display: none; }
  @media (max-width: 1099px) {
    .menu-wrap {
      display: block; } }

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0; }

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #44444f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease; }

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

/*Top & Bottom Lines*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit; }

/*Moves line down*/
.menu-wrap .hamburger > div:after {
  top: 10px; }

/* Toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg); }

/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg); }

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg); }

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible; }

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s; }

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease; }

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu-wrap .menu > div {
  background: #65e496;
  border-radius: 50%;
  width: 200vh;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease; }

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  overflow: 0;
  transition: opacity 0.4s ease; }

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem; }

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease; }

/*# sourceMappingURL=style.css.map */
